<div class="card">
  <div class="card-body">
    <h1 class="h3 mb-4"><%= t('devise_views.passwords.edit_title') %></h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |form| %>
      <%= render 'devise/shared/error_messages', resource: resource %>
      <%= form.hidden_field :reset_password_token %>

      <div class="mb-3">
        <%= form.label :password, t('devise_views.passwords.new_password'), class: 'form-label' %>
        <%= form.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :password_confirmation, t('devise_views.passwords.confirm_password'), class: 'form-label' %>
        <%= form.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
      </div>

      <%= form.submit t('devise_views.passwords.change_password'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
