<div class="card">
  <div class="card-body">
    <h1 class="h3 mb-4"><%= t('devise_views.passwords.new_title') %></h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |form| %>
      <%= render 'devise/shared/error_messages', resource: resource %>

      <div class="mb-3">
        <%= form.label :email, t('devise_views.labels.email'), class: 'form-label' %>
        <%= form.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
      </div>

      <%= form.submit t('devise_views.passwords.send_instructions'), class: 'btn btn-primary' %>
      <%= link_to t('devise_views.sessions.submit'), new_session_path(resource_name), class: 'btn btn-link' %>
    <% end %>
  </div>
</div>
